input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

label{
    align-self: flex-start;
    margin-bottom: 5px;
    margin-top: 5px;
}

.signup-button {
    background-color: #f54642;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
}

.login-button{
    background-color: lightskyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.signup-button:hover {
    opacity:1;
}

.batman-avatar{
    height: 270px;
    width: 300px;
    margin-left: 100px;
}

.green-avatar-female{
    margin-top: 1%;
    height: 265px;
    width: 300px
}

.heading{
    display: flex;
    align-items: center;
}